
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html,
body {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  background: #ffffff;
}

.navbar {
  min-height: 50px;
  font-size: 1.6rem;
}

.subnav {
  min-height: 40px;
  font-size: 1.5rem;
  border-bottom: 1px solid lightgray;
}

.navbar-inverse {
  background-color: hsl(206, 100%, 25%);
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color: #d5d5d5;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #000000;
  background-color: #ffffff;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-inverse .navbar-brand {
  color: #d5d5d5;
  font-size: 3.6rem;
  padding: 15px 0;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 4.2rem;
}

.sideaffix {
  font-size: 1.4rem;
}

 pre {
   border-radius: 0;
   background-color: #fbfbfb;
   border: 1px solid lightgray;
 }

 .sidenav, .fixed_header, .toc {
   background: transparent;
 }

 .toc-filter > input {
   border: 1px solid lightgray;
   padding: 4px;
 }

 .toc-filter > span {
   display: none;
 }

 .sidefilter {
   top: 130px;
   background: transparent;
   border: 0;
 }

 .sidetoc {
  top: 190px;
  background: transparent;
  border: 0;
 }

 body .toc {
   background: transparent;
 }